<div class="page-header">
  <h1><%= @cohort.name %><%= link_to "new lab", new_cohort_lab_path(@cohort), class: "btn btn-default", id: "new-lab-btn"%></h1>
</div>

<div class="col-md-12 cohort-well"> 
  <div class="col-md-6 cohort-show-child">
    <h4>Students</h4>
    <%= render partial: "students/student", collection: @cohort.students %>
  </div>

  <div class="col-md-6 cohort-show-child">
    <h4>Labs</h4>
    <%= render partial: "labs/lab", locals: {cohort: @cohort }, collection: @cohort.labs.sort_by {|l| l.deploy_date} %>
  </div>
</div>

