---
http_interactions:
- request:
    method: post
    uri: https://sophie.debenedetto%40gmail.com:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://flatiron-lab-trackr.herokuapp.com/webhooks/pull-requests","content_type":"json"},"events":["pull_request"],"active":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4911'
      X-Ratelimit-Reset:
      - '1462544651'
      Etag:
      - '"b846144697e944b0b1a8b6b00ef1ba77"'
      Location:
      - https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8306586
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":8306586,"name":"web","active":true,"events":["pull_request"],"config":{"url":"https://flatiron-lab-trackr.herokuapp.com/webhooks/pull-requests","content_type":"json"},"updated_at":"2016-05-06T13:26:10Z","created_at":"2016-05-06T13:26:10Z","url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8306586","test_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8306586/test","ping_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8306586/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Fri, 06 May 2016 13:26:12 GMT
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4910'
      X-Ratelimit-Reset:
      - '1462544651'
      Etag:
      - W/"4002e68c730027cd20f5de24dc6cee06"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"Repository","id":8306586,"name":"web","active":true,"events":["pull_request"],"config":{"content_type":"json","url":"https://flatiron-lab-trackr.herokuapp.com/webhooks/pull-requests"},"updated_at":"2016-05-06T13:26:10Z","created_at":"2016-05-06T13:26:10Z","url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8306586","test_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8306586/test","ping_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8306586/pings","last_response":{"code":0,"status":"unused","message":"Unused"}}]'
  recorded_at: Fri, 06 May 2016 13:26:13 GMT
recorded_with: VCR 3.0.1
