---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks
    body:
      encoding: UTF-8
      string: '{"name":"web","config":{"url":"https://flatiron-lab-trackr.herokuapp.com/webhooks/pull-requests","content_type":"json"},"events":["pull_request"],"active":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29waGllLmRlYmVuZWRldHRvQGdtYWlsLmNvbTpGdms2ZGdpdg==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 201 Created
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '2497'
      X-Ratelimit-Reset:
      - '1462582240'
      Etag:
      - '"10534cd9d98382386634564b7cf03717"'
      Location:
      - https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8313564
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"type":"Repository","id":8313564,"name":"web","active":true,"events":["pull_request"],"config":{"url":"https://flatiron-lab-trackr.herokuapp.com/webhooks/pull-requests","content_type":"json"},"updated_at":"2016-05-07T00:29:23Z","created_at":"2016-05-07T00:29:23Z","url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8313564","test_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8313564/test","ping_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8313564/pings","last_response":{"code":null,"status":"unused","message":null}}'
  recorded_at: Sat, 07 May 2016 00:29:21 GMT
- request:
    method: get
    uri: https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29waGllLmRlYmVuZWRldHRvQGdtYWlsLmNvbTpGdms2ZGdpdg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '2496'
      X-Ratelimit-Reset:
      - '1462582240'
      Etag:
      - W/"ea8a2a3215f8abfa64efed7d9189103e"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"type":"Repository","id":8313564,"name":"web","active":true,"events":["pull_request"],"config":{"content_type":"json","url":"https://flatiron-lab-trackr.herokuapp.com/webhooks/pull-requests"},"updated_at":"2016-05-07T00:29:23Z","created_at":"2016-05-07T00:29:23Z","url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8313564","test_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8313564/test","ping_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/hooks/8313564/pings","last_response":{"code":0,"status":"unused","message":"Unused"}}]'
  recorded_at: Sat, 07 May 2016 00:29:21 GMT
recorded_with: VCR 3.0.1
