---
http_interactions:
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4869'
      X-Ratelimit-Reset:
      - '1462387308'
      Etag:
      - W/"aadf5175e6ee78f7221198bc22512f75"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/57331028/pulls?page=2>; rel="next", <https://api.github.com/repositories/57331028/pulls?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/31","id":68718446,"html_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/31","diff_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/31.diff","patch_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/31.patch","issue_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/issues/31","number":31,"state":"open","locked":false,"title":"done","user":{"login":"<GITHUB_USERNAME>","id":8999596,"avatar_url":"https://avatars.githubusercontent.com/u/8999596?v=3","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME>","html_url":"https://github.com/<GITHUB_USERNAME>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME>/received_events","type":"User","site_admin":false},"body":"","created_at":"2016-05-03T14:51:42Z","updated_at":"2016-05-03T16:29:19Z","closed_at":null,"merged_at":null,"merge_commit_sha":"638381ab9b5c40af0c904024f2a813787925965e","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/31/commits","review_comments_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/31/comments","review_comment_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/comments{/number}","comments_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/issues/31/comments","statuses_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/statuses/3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff","head":{"label":"<GITHUB_USERNAME>:master","ref":"master","sha":"3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff","user":{"login":"<GITHUB_USERNAME>","id":8999596,"avatar_url":"https://avatars.githubusercontent.com/u/8999596?v=3","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME>","html_url":"https://github.com/<GITHUB_USERNAME>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME>/received_events","type":"User","site_admin":false},"repo":{"id":57977263,"name":"strong-params-basics-web-0416","full_name":"<GITHUB_USERNAME>/strong-params-basics-web-0416","owner":{"login":"<GITHUB_USERNAME>","id":8999596,"avatar_url":"https://avatars.githubusercontent.com/u/8999596?v=3","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_USERNAME>","html_url":"https://github.com/<GITHUB_USERNAME>","followers_url":"https://api.github.com/users/<GITHUB_USERNAME>/followers","following_url":"https://api.github.com/users/<GITHUB_USERNAME>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_USERNAME>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_USERNAME>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_USERNAME>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_USERNAME>/orgs","repos_url":"https://api.github.com/users/<GITHUB_USERNAME>/repos","events_url":"https://api.github.com/users/<GITHUB_USERNAME>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_USERNAME>/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/<GITHUB_USERNAME>/strong-params-basics-web-0416","description":null,"fork":true,"url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416","forks_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/forks","keys_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/teams","hooks_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/hooks","issue_events_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/issues/events{/number}","events_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/events","assignees_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/assignees{/user}","branches_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/branches{/branch}","tags_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/tags","blobs_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/git/refs{/sha}","trees_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/statuses/{sha}","languages_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/languages","stargazers_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/stargazers","contributors_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/contributors","subscribers_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/subscribers","subscription_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/subscription","commits_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/commits{/sha}","git_commits_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/git/commits{/sha}","comments_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/comments{/number}","issue_comment_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/issues/comments{/number}","contents_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/contents/{+path}","compare_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/merges","archive_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/downloads","issues_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/issues{/number}","pulls_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/pulls{/number}","milestones_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/milestones{/number}","notifications_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/labels{/name}","releases_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/releases{/id}","deployments_url":"https://api.github.com/repos/<GITHUB_USERNAME>/strong-params-basics-web-0416/deployments","created_at":"2016-05-03T14:50:38Z","updated_at":"2016-05-03T14:50:39Z","pushed_at":"2016-05-03T14:51:31Z","git_url":"git://github.com/<GITHUB_USERNAME>/strong-params-basics-web-0416.git","ssh_url":"git@github.com:<GITHUB_USERNAME>/strong-params-basics-web-0416.git","clone_url":"https://github.com/<GITHUB_USERNAME>/strong-params-basics-web-0416.git","svn_url":"https://github.com/<GITHUB_USERNAME>/strong-params-basics-web-0416","homepage":null,"size":30,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"learn-co-students:master","ref":"master","sha":"9ff43e5d04b3f412c7e3407b7b530371f3fea551","user":{"login":"learn-co-students","id":8825476,"avatar_url":"https://avatars.githubusercontent.com/u/8825476?v=3","gravatar_id":"","url":"https://api.github.com/users/learn-co-students","html_url":"https://github.com/learn-co-students","followers_url":"https://api.github.com/users/learn-co-students/followers","following_url":"https://api.github.com/users/learn-co-students/following{/other_user}"[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/31/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4868'
      X-Ratelimit-Reset:
      - '1462387308'
      Etag:
      - W/"5376f2bcab99cb12c61f2a34a0c425db"
      Last-Modified:
      - Tue, 03 May 2016 16:29:19 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"7b03a17fb1388036150a7dcd4f5059c0b051a42a","filename":"app/controllers/posts_controller.rb","status":"modified","additions":6,"deletions":0,"changes":6,"blob_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff/app/controllers/posts_controller.rb","raw_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/raw/3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff/app/controllers/posts_controller.rb","contents_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff","patch":"@@
        -26,4 +26,10 @@ def update\n \tdef edit\n \t  @post = Post.find(params[:id])\n
        \tend\n+\n+\tprivate\n+\n+\t\tdef post_params\n+\t\t\tparams.require(:post).permit(:title,
        :content)\n+\t\tend\n end"}]'
  recorded_at: Wed, 04 May 2016 18:37:43 GMT
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff&since
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4867'
      X-Ratelimit-Reset:
      - '1462387308'
      Etag:
      - W/"62624efed2caae1faed7ab58e87858f9"
      Last-Modified:
      - Tue, 03 May 2016 14:51:28 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"posts_controller.rb","path":"app/controllers/posts_controller.rb","sha":"7b03a17fb1388036150a7dcd4f5059c0b051a42a","size":520,"url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff","html_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff/app/controllers/posts_controller.rb","git_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/git/blobs/7b03a17fb1388036150a7dcd4f5059c0b051a42a","download_url":"https://raw.githubusercontent.com/learn-co-students/strong-params-basics-web-0416/3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff/app/controllers/posts_controller.rb?token=AIlSrAna4ttRcelozDpZA0zgHfYX4mjAks5XKkG0wA%3D%3D","type":"file","content":"Y2xhc3MgUG9zdHNDb250cm9sbGVyIDwgQXBwbGljYXRpb25Db250cm9sbGVy\nCglkZWYgaW5kZXgKCQlAcG9zdHMgPSBQb3N0LmFsbAoJZW5kCgoJZGVmIHNo\nb3cKCQlAcG9zdCA9IFBvc3QuZmluZChwYXJhbXNbOmlkXSkKCWVuZAoKCWRl\nZiBuZXcKCQlAcG9zdCA9IFBvc3QubmV3CgllbmQKCglkZWYgY3JlYXRlCgkg\nIEBwb3N0ID0gUG9zdC5uZXcocGFyYW1zWyJwb3N0Il0pCgkgIEBwb3N0LnNh\ndmUKCSAgcmVkaXJlY3RfdG8gcG9zdF9wYXRoKEBwb3N0KQoJZW5kCgoJZGVm\nIHVwZGF0ZQoJICBAcG9zdCA9IFBvc3QuZmluZChwYXJhbXNbOmlkXSkKCSAg\nQHBvc3QudXBkYXRlKHBhcmFtc1sicG9zdCJdKQoJICByZWRpcmVjdF90byBw\nb3N0X3BhdGgoQHBvc3QpCgllbmQKCglkZWYgZWRpdAoJICBAcG9zdCA9IFBv\nc3QuZmluZChwYXJhbXNbOmlkXSkKCWVuZAoKCXByaXZhdGUKCgkJZGVmIHBv\nc3RfcGFyYW1zCgkJCXBhcmFtcy5yZXF1aXJlKDpwb3N0KS5wZXJtaXQoOnRp\ndGxlLCA6Y29udGVudCkKCQllbmQKZW5kCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff","git":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/git/blobs/7b03a17fb1388036150a7dcd4f5059c0b051a42a","html":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/3bdfaaf1addd1fc8f4f5960d87f5f5224eade4ff/app/controllers/posts_controller.rb"}}'
  recorded_at: Wed, 04 May 2016 18:37:44 GMT
[...]
- request:
    method: get
    uri: https://<GITHUB_USERNAME>:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/config/application.rb?ref=6289b28442d53e4f82abb75b1647321bf178bc99&since
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK[...]
[...]
