---
http_interactions:
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4997'
      X-Ratelimit-Reset:
      - '1462544651'
      Etag:
      - W/"032916b915311611fc6012b196ee653d"
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/57331028/pulls?page=2>; rel="next", <https://api.github.com/repositories/57331028/pulls?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/32","id":69039608,"html_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/32","diff_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/32.diff","patch_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/32.patch","issue_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/issues/32","number":32,"state":"open","locked":false,"title":"done","user":{"login":"jacobshiff","id":5439672,"avatar_url":"https://avatars.githubusercontent.com/u/5439672?v=3","gravatar_id":"","url":"https://api.github.com/users/jacobshiff","html_url":"https://github.com/jacobshiff","followers_url":"https://api.github.com/users/jacobshiff/followers","following_url":"https://api.github.com/users/jacobshiff/following{/other_user}","gists_url":"https://api.github.com/users/jacobshiff/gists{/gist_id}","starred_url":"https://api.github.com/users/jacobshiff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacobshiff/subscriptions","organizations_url":"https://api.github.com/users/jacobshiff/orgs","repos_url":"https://api.github.com/users/jacobshiff/repos","events_url":"https://api.github.com/users/jacobshiff/events{/privacy}","received_events_url":"https://api.github.com/users/jacobshiff/received_events","type":"User","site_admin":false},"body":"","created_at":"2016-05-05T17:27:38Z","updated_at":"2016-05-05T17:27:38Z","closed_at":null,"merged_at":null,"merge_commit_sha":"80afc8e74a181f4b2a3a32d8cd29054e3539c424","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/32/commits","review_comments_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/32/comments","review_comment_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/comments{/number}","comments_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/issues/32/comments","statuses_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/statuses/d15f0d0246197eea7d6ad33f1a1fae9fccebc068","head":{"label":"jacobshiff:master","ref":"master","sha":"d15f0d0246197eea7d6ad33f1a1fae9fccebc068","user":{"login":"jacobshiff","id":5439672,"avatar_url":"https://avatars.githubusercontent.com/u/5439672?v=3","gravatar_id":"","url":"https://api.github.com/users/jacobshiff","html_url":"https://github.com/jacobshiff","followers_url":"https://api.github.com/users/jacobshiff/followers","following_url":"https://api.github.com/users/jacobshiff/following{/other_user}","gists_url":"https://api.github.com/users/jacobshiff/gists{/gist_id}","starred_url":"https://api.github.com/users/jacobshiff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacobshiff/subscriptions","organizations_url":"https://api.github.com/users/jacobshiff/orgs","repos_url":"https://api.github.com/users/jacobshiff/repos","events_url":"https://api.github.com/users/jacobshiff/events{/privacy}","received_events_url":"https://api.github.com/users/jacobshiff/received_events","type":"User","site_admin":false},"repo":{"id":57465460,"name":"strong-params-basics-web-0416","full_name":"jacobshiff/strong-params-basics-web-0416","owner":{"login":"jacobshiff","id":5439672,"avatar_url":"https://avatars.githubusercontent.com/u/5439672?v=3","gravatar_id":"","url":"https://api.github.com/users/jacobshiff","html_url":"https://github.com/jacobshiff","followers_url":"https://api.github.com/users/jacobshiff/followers","following_url":"https://api.github.com/users/jacobshiff/following{/other_user}","gists_url":"https://api.github.com/users/jacobshiff/gists{/gist_id}","starred_url":"https://api.github.com/users/jacobshiff/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/jacobshiff/subscriptions","organizations_url":"https://api.github.com/users/jacobshiff/orgs","repos_url":"https://api.github.com/users/jacobshiff/repos","events_url":"https://api.github.com/users/jacobshiff/events{/privacy}","received_events_url":"https://api.github.com/users/jacobshiff/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/jacobshiff/strong-params-basics-web-0416","description":null,"fork":true,"url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416","forks_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/forks","keys_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/keys{/key_id}","collaborators_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/teams","hooks_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/hooks","issue_events_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/issues/events{/number}","events_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/events","assignees_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/assignees{/user}","branches_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/branches{/branch}","tags_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/tags","blobs_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/git/refs{/sha}","trees_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/git/trees{/sha}","statuses_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/statuses/{sha}","languages_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/languages","stargazers_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/stargazers","contributors_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/contributors","subscribers_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/subscribers","subscription_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/subscription","commits_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/commits{/sha}","git_commits_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/git/commits{/sha}","comments_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/comments{/number}","issue_comment_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/issues/comments{/number}","contents_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/contents/{+path}","compare_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/compare/{base}...{head}","merges_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/merges","archive_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/downloads","issues_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/issues{/number}","pulls_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/pulls{/number}","milestones_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/milestones{/number}","notifications_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/labels{/name}","releases_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/releases{/id}","deployments_url":"https://api.github.com/repos/jacobshiff/strong-params-basics-web-0416/deployments","created_at":"2016-04-30T23:02:26Z","updated_at":"2016-04-30T23:02:27Z","pushed_at":"2016-05-05T17:27:15Z","git_url":"git://github.com/jacobshiff/strong-params-basics-web-0416.git","ssh_url":"git@github.com:jacobshiff/strong-params-basics-web-0416.git","clone_url":"https://github.com/jacobshiff/strong-params-basics-web-0416.git","svn_url":"https://github.com/jacobshiff/strong-params-basics-web-0416","homepage":null,"size":29,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"learn-co-students:master","ref":"master","sha":"9ff43e5d04b3f412c7e3407b7b530371f3fea551","user":{"login":"learn-co-students","id":8825476,"avatar_url":"https://avatars.githubusercontent.com/u/8825476?v=3","gravatar_id":"","url":"https://api.github.com/users/learn-co-students","html_url":"https://github.com/learn-co-students","followers_url":"https://api.github.com/users/learn-co-students/followers","following_url":"https://api.github.com/users/learn-co-students/following{/other_user}"[...]
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/32/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4996'
      X-Ratelimit-Reset:
      - '1462544651'
      Etag:
      - W/"9d027d8d19db8b76d63c9e3988d5579b"
      Last-Modified:
      - Thu, 05 May 2016 17:27:38 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"4d1cf856d5776385b9543d3f2273cb8618ee88a9","filename":"app/controllers/posts_controller.rb","status":"modified","additions":7,"deletions":2,"changes":9,"blob_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/d15f0d0246197eea7d6ad33f1a1fae9fccebc068/app/controllers/posts_controller.rb","raw_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/raw/d15f0d0246197eea7d6ad33f1a1fae9fccebc068/app/controllers/posts_controller.rb","contents_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=d15f0d0246197eea7d6ad33f1a1fae9fccebc068","patch":"@@
        -12,18 +12,23 @@ def new\n \tend\n \n \tdef create\n-\t  @post = Post.new(params[\"post\"])\n+\t  @post
        = Post.new(post_params(:title, :description))\n \t  @post.save\n \t  redirect_to
        post_path(@post)\n \tend\n \n \tdef update\n \t  @post = Post.find(params[:id])\n-\t  @post.update(params[\"post\"])\n+\t  @post.update(post_params(:title))\n
        \t  redirect_to post_path(@post)\n \tend\n \n \tdef edit\n \t  @post = Post.find(params[:id])\n
        \tend\n+\n+\tpri[...]
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=d15f0d0246197eea7d6ad33f1a1fae9fccebc068&since
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1462544651'
      Etag:
      - W/"a4cc9b38b87ea0e50807af72b6aefd9e"
      Last-Modified:
      - Thu, 05 May 2016 17:26:57 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"posts_controller.rb","path":"app/controllers/posts_controller.rb","sha":"4d1cf856d5776385b9543d3f2273cb8618ee88a9","size":536,"url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=d15f0d0246197eea7d6ad33f1a1fae9fccebc068","html_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/d15f0d0246197eea7d6ad33f1a1fae9fccebc068/app/controllers/posts_controller.rb","git_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/git/blobs/4d1cf856d5776385b9543d3f2273cb8618ee88a9","download_url":"https://raw.githubusercontent.com/learn-co-students/strong-params-basics-web-0416/d15f0d0246197eea7d6ad33f1a1fae9fccebc068/app/controllers/posts_controller.rb?token=AIlSrHC7z5X1St6zV_9vSTerSQ8HIjQYks5XLJt2wA%3D%3D","type":"file","content":"Y2xhc3MgUG9zdHNDb250cm9sbGVyIDwgQXBwbGljYXRpb25Db250cm9sbGVy\nCglkZWYgaW5kZXgKCQlAcG9zdHMgPSBQb3N0LmFsbAoJZW5kCgoJZGVmIHNo\nb3cKCQlAcG9zdCA9IFBvc3QuZmluZChwYXJhbXNbOmlkXSkKCWVuZAoKCWRl\nZiBuZXcKCQlAcG9zdCA9IFBvc3QubmV3CgllbmQKCglkZWYgY3JlYXRlCgkg\nIEBwb3N0ID0gUG9zdC5uZXcocG9zdF9wYXJhbXMoOnRpdGxlLCA6ZGVzY3Jp\ncHRpb24pKQoJICBAcG9zdC5zYXZlCgkgIHJlZGlyZWN0X3RvIHBvc3RfcGF0\naChAcG9zdCkKCWVuZAoKCWRlZiB1cGRhdGUKCSAgQHBvc3QgPSBQb3N0LmZp\nbmQocGFyYW1zWzppZF0pCgkgIEBwb3N0LnVwZGF0ZShwb3N0X3BhcmFtcyg6\ndGl0bGUpKQoJICByZWRpcmVjdF90byBwb3N0X3BhdGgoQHBvc3QpCgllbmQK\nCglkZWYgZWRpdAoJICBAcG9zdCA9IFBvc3QuZmluZChwYXJhbXNbOmlkXSkK\nCWVuZAoKCXByaXZhdGUKCWRlZiBwb3N0X3BhcmFtcygqYXJncykKCQlwYXJh\nbXMucmVxdWlyZSg6cG9zdCkucGVybWl0KCphcmdzKQoJZW5kCmVuZAo=\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=d15f0d0246197eea7d6ad33f1a1fae9fccebc068","git":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/git/blobs/4d1cf856d5776385b9543d3f2273cb8618ee88a9","html":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/d15f0d0246197eea7d6ad33f1a1fae9fccebc068/app/controllers/posts_controller.rb"}}'
  recorded_at: Fri, 06 May 2016 13:25:16 GMT
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:<GITHUB_PASSWORD>@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/config/application.rb?ref=d15f0d0246197eea7d6ad33f1a1fae9fccebc068&since
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
 [...]
[...]
