---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/learn-co-students/simple-math-web-0416/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29waGllLmRlYmVuZWRldHRvQGdtYWlsLmNvbTpGdms2ZGdpdg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4417'
      X-Ratelimit-Reset:
      - '1462597655'
      Etag:
      - W/"5a63e687e7597272ce7370075cdb0c33"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/pulls/1","id":64084414,"html_url":"https://github.com/learn-co-students/simple-math-web-0416/pull/1","diff_url":"https://github.com/learn-co-students/simple-math-web-0416/pull/1.diff","patch_url":"https://github.com/learn-co-students/simple-math-web-0416/pull/1.patch","issue_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/issues/1","number":1,"state":"open","locked":false,"title":"Done.","user":{"login":"cjtafoya","id":16465308,"avatar_url":"https://avatars.githubusercontent.com/u/16465308?v=3","gravatar_id":"","url":"https://api.github.com/users/cjtafoya","html_url":"https://github.com/cjtafoya","followers_url":"https://api.github.com/users/cjtafoya/followers","following_url":"https://api.github.com/users/cjtafoya/following{/other_user}","gists_url":"https://api.github.com/users/cjtafoya/gists{/gist_id}","starred_url":"https://api.github.com/users/cjtafoya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cjtafoya/subscriptions","organizations_url":"https://api.github.com/users/cjtafoya/orgs","repos_url":"https://api.github.com/users/cjtafoya/repos","events_url":"https://api.github.com/users/cjtafoya/events{/privacy}","received_events_url":"https://api.github.com/users/cjtafoya/received_events","type":"User","site_admin":false},"body":"","created_at":"2016-03-24T19:14:57Z","updated_at":"2016-03-24T19:14:57Z","closed_at":null,"merged_at":null,"merge_commit_sha":"88b1b2f2538b9c89cfd162658f13d88a978d1b8c","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/pulls/1/commits","review_comments_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/pulls/1/comments","review_comment_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/pulls/comments{/number}","comments_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/issues/1/comments","statuses_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/statuses/9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad","head":{"label":"cjtafoya:master","ref":"master","sha":"9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad","user":{"login":"cjtafoya","id":16465308,"avatar_url":"https://avatars.githubusercontent.com/u/16465308?v=3","gravatar_id":"","url":"https://api.github.com/users/cjtafoya","html_url":"https://github.com/cjtafoya","followers_url":"https://api.github.com/users/cjtafoya/followers","following_url":"https://api.github.com/users/cjtafoya/following{/other_user}","gists_url":"https://api.github.com/users/cjtafoya/gists{/gist_id}","starred_url":"https://api.github.com/users/cjtafoya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cjtafoya/subscriptions","organizations_url":"https://api.github.com/users/cjtafoya/orgs","repos_url":"https://api.github.com/users/cjtafoya/repos","events_url":"https://api.github.com/users/cjtafoya/events{/privacy}","received_events_url":"https://api.github.com/users/cjtafoya/received_events","type":"User","site_admin":false},"repo":{"id":54667700,"name":"simple-math-web-0416","full_name":"cjtafoya/simple-math-web-0416","owner":{"login":"cjtafoya","id":16465308,"avatar_url":"https://avatars.githubusercontent.com/u/16465308?v=3","gravatar_id":"","url":"https://api.github.com/users/cjtafoya","html_url":"https://github.com/cjtafoya","followers_url":"https://api.github.com/users/cjtafoya/followers","following_url":"https://api.github.com/users/cjtafoya/following{/other_user}","gists_url":"https://api.github.com/users/cjtafoya/gists{/gist_id}","starred_url":"https://api.github.com/users/cjtafoya/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/cjtafoya/subscriptions","organizations_url":"https://api.github.com/users/cjtafoya/orgs","repos_url":"https://api.github.com/users/cjtafoya/repos","events_url":"https://api.github.com/users/cjtafoya/events{/privacy}","received_events_url":"https://api.github.com/users/cjtafoya/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/cjtafoya/simple-math-web-0416","description":null,"fork":true,"url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416","forks_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/forks","keys_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/keys{/key_id}","collaborators_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/teams","hooks_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/hooks","issue_events_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/issues/events{/number}","events_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/events","assignees_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/assignees{/user}","branches_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/branches{/branch}","tags_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/tags","blobs_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/git/refs{/sha}","trees_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/git/trees{/sha}","statuses_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/statuses/{sha}","languages_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/languages","stargazers_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/stargazers","contributors_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/contributors","subscribers_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/subscribers","subscription_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/subscription","commits_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/commits{/sha}","git_commits_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/git/commits{/sha}","comments_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/comments{/number}","issue_comment_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/issues/comments{/number}","contents_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/contents/{+path}","compare_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/compare/{base}...{head}","merges_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/merges","archive_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/downloads","issues_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/issues{/number}","pulls_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/pulls{/number}","milestones_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/milestones{/number}","notifications_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/labels{/name}","releases_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/releases{/id}","deployments_url":"https://api.github.com/repos/cjtafoya/simple-math-web-0416/deployments","created_at":"2016-03-24T19:12:17Z","updated_at":"2016-03-24T19:12:18Z","pushed_at":"2016-03-24T19:14:44Z","git_url":"git://github.com/cjtafoya/simple-math-web-0416.git","ssh_url":"git@github.com:cjtafoya/simple-math-web-0416.git","clone_url":"https://github.com/cjtafoya/simple-math-web-0416.git","svn_url":"https://github.com/cjtafoya/simple-math-web-0416","homepage":null,"size":14,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"learn-co-students:master","ref":"master","sha":"f2ec36d64ad3cb955f47286350ee19a9fa30cfcb","user":{"login":"learn-co-students","id":8825476,"avatar_url":"https://avatars.githubusercontent.com/u/8825476?v=3","gravatar_id":"","url":"https://api.github.com/users/learn-co-students","html_url":"https://github.com/learn-co-students","followers_url":"https://api.github.com/users/learn-co-students/followers","following_url":"https://api.github.com/users/learn-co-students/following{/other_user}"[...]
- request:
    method: get
    uri: https://api.github.com/repos/learn-co-students/simple-math-web-0416/pulls/1/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29waGllLmRlYmVuZWRldHRvQGdtYWlsLmNvbTpGdms2ZGdpdg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4416'
      X-Ratelimit-Reset:
      - '1462597655'
      Etag:
      - W/"0764e91816c98f58e41272ee74817dd4"
      Last-Modified:
      - Tue, 26 Apr 2016 13:23:32 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"6b67ea38b453d9986de71c24e017825086f807a3","filename":".results.json","status":"added","additions":1,"deletions":0,"changes":1,"blob_url":"https://github.com/learn-co-students/simple-math-web-0416/blob/9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad/.results.json","raw_url":"https://github.com/learn-co-students/simple-math-web-0416/raw/9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad/.results.json","contents_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/contents/.results.json?ref=9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad","patch":"@@
        -0,0 +1 @@\n+{\"version\":\"3.4.1\",\"examples\":[{\"description\":\"adds
        two numbers together\",\"full_description\":\"#addition adds two numbers together\",\"status\":\"passed\",\"file_path\":\"./spec/math_spec.rb\",\"line_number\":4,\"run_time\":0.000527,\"pending_message\":null},{\"description\":\"subtracts
        two numbers from each other\",\"full_description\":\"#subtraction subtracts
        two numbers from each other\",\"status\":\"passed\",\"file_path\":\"./spec/math_spec.rb\",\"line_number\":10,\"run_time\":8.4e-05,\"pending_message\":null},{\"description\":\"divides
        one number by another\",\"full_description\":\"#division divides one number
        by another\",\"status\":\"passed\",\"file_path\":\"./spec/math_spec.rb\",\"line_number\":16,\"run_[...]
- request:
    method: get
    uri: https://api.github.com/repos/learn-co-students/simple-math-web-0416/contents/lib/math.rb?ref=9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad&since
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic c29waGllLmRlYmVuZWRldHRvQGdtYWlsLmNvbTpGdms2ZGdpdg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4415'
      X-Ratelimit-Reset:
      - '1462597655'
      Etag:
      - W/"3630bda5e47ae857a4f91fdb32fb5be0"
      Last-Modified:
      - Thu, 24 Mar 2016 19:14:43 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"math.rb","path":"lib/math.rb","sha":"d0571d212f28dc41a74bf3c452ab726a84997705","size":346,"url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/contents/lib/math.rb?ref=9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad","html_url":"https://github.com/learn-co-students/simple-math-web-0416/blob/9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad/lib/math.rb","git_url":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/git/blobs/d0571d212f28dc41a74bf3c452ab726a84997705","download_url":"https://raw.githubusercontent.com/learn-co-students/simple-math-web-0416/9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad/lib/math.rb?token=AIlSrGHmJ3Cu6F8eHmc-dX-lf74Ds_eKks5XLXRawA%3D%3D","type":"file","content":"ZGVmIGFkZGl0aW9uKG51bTEsIG51bTIpCiAgbnVtMStudW0yCmVuZAoKZGVm\nIHN1YnRyYWN0aW9uKG51bTEsIG51bTIpCiAgbnVtMS1udW0yCmVuZAoKZGVm\nIGRpdmlzaW9uKG51bTEsIG51bTIpCiAgbnVtMS9udW0yCmVuZAoKZGVmIG11\nbHRpcGxpY2F0aW9uKG51bTEsIG51bTIpCiAgbnVtMSpudW0yCmVuZAoKZGVm\nIG1vZHVsbyhudW0xLCBudW0yKQogIG51bTElbnVtMgplbmQKCmRlZiBzcXVh\ncmVfcm9vdChudW0pCiAgTWF0aC5zcXJ0KG51bSkKZW5kCgpkZWYgb3JkZXJf\nb2Zfb3BlcmF0aW9uKG51bTEsIG51bTIsIG51bTMsIG51bTQpCiAgbnVtMSAr\nICgoIG51bTIgKiBudW0zICkgLyBudW00ICkKZW5kCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/contents/lib/math.rb?ref=9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad","git":"https://api.github.com/repos/learn-co-students/simple-math-web-0416/git/blobs/d0571d212f28dc41a74bf3c452ab726a84997705","html":"https://github.com/learn-co-students/simple-math-web-0416/blob/9769cd1e7fc2d929d313ed6f90dc8ce8fd54d9ad/lib/math.rb"}}'
  recorded_at: Sat, 07 May 2016 04:50:37 GMT
recorded_with: VCR 3.0.1
