  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to "Flatiron Lab Trackr", root_path, class: "navbar-brand"%>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
              <li>
                <%= link_to "cohorts", cohorts_path%>
              </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= render 'shared/search_form' %>
            </li>
          </ul>
      </div>
    </div>
  </nav>
