---
http_interactions:
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:Fvk6dgiv@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4661'
      X-Ratelimit-Reset:
      - '1462217741'
      Etag:
      - W/"7e695e4e014a319aa3c1f830893d0d0b"
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/29","id":68598560,"html_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/29","diff_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/29.diff","patch_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/pull/29.patch","issue_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/issues/29","number":29,"state":"open","locked":false,"title":"Done","user":{"login":"gs2589","id":5054731,"avatar_url":"https://avatars.githubusercontent.com/u/5054731?v=3","gravatar_id":"","url":"https://api.github.com/users/gs2589","html_url":"https://github.com/gs2589","followers_url":"https://api.github.com/users/gs2589/followers","following_url":"https://api.github.com/users/gs2589/following{/other_user}","gists_url":"https://api.github.com/users/gs2589/gists{/gist_id}","starred_url":"https://api.github.com/users/gs2589/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gs2589/subscriptions","organizations_url":"https://api.github.com/users/gs2589/orgs","repos_url":"https://api.github.com/users/gs2589/repos","events_url":"https://api.github.com/users/gs2589/events{/privacy}","received_events_url":"https://api.github.com/users/gs2589/received_events","type":"User","site_admin":false},"body":null,"created_at":"2016-05-02T18:23:02Z","updated_at":"2016-05-02T18:23:02Z","closed_at":null,"merged_at":null,"merge_commit_sha":"08d32d5c9506c7a8119f112a4138033750edc990","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/29/commits","review_comments_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/29/comments","review_comment_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/comments{/number}","comments_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/issues/29/comments","statuses_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/statuses/7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e","head":{"label":"gs2589:master","ref":"master","sha":"7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e","user":{"login":"gs2589","id":5054731,"avatar_url":"https://avatars.githubusercontent.com/u/5054731?v=3","gravatar_id":"","url":"https://api.github.com/users/gs2589","html_url":"https://github.com/gs2589","followers_url":"https://api.github.com/users/gs2589/followers","following_url":"https://api.github.com/users/gs2589/following{/other_user}","gists_url":"https://api.github.com/users/gs2589/gists{/gist_id}","starred_url":"https://api.github.com/users/gs2589/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gs2589/subscriptions","organizations_url":"https://api.github.com/users/gs2589/orgs","repos_url":"https://api.github.com/users/gs2589/repos","events_url":"https://api.github.com/users/gs2589/events{/privacy}","received_events_url":"https://api.github.com/users/gs2589/received_events","type":"User","site_admin":false},"repo":{"id":57909125,"name":"strong-params-basics-web-0416","full_name":"gs2589/strong-params-basics-web-0416","owner":{"login":"gs2589","id":5054731,"avatar_url":"https://avatars.githubusercontent.com/u/5054731?v=3","gravatar_id":"","url":"https://api.github.com/users/gs2589","html_url":"https://github.com/gs2589","followers_url":"https://api.github.com/users/gs2589/followers","following_url":"https://api.github.com/users/gs2589/following{/other_user}","gists_url":"https://api.github.com/users/gs2589/gists{/gist_id}","starred_url":"https://api.github.com/users/gs2589/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/gs2589/subscriptions","organizations_url":"https://api.github.com/users/gs2589/orgs","repos_url":"https://api.github.com/users/gs2589/repos","events_url":"https://api.github.com/users/gs2589/events{/privacy}","received_events_url":"https://api.github.com/users/gs2589/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/gs2589/strong-params-basics-web-0416","description":null,"fork":true,"url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416","forks_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/forks","keys_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/keys{/key_id}","collaborators_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/teams","hooks_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/hooks","issue_events_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/issues/events{/number}","events_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/events","assignees_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/assignees{/user}","branches_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/branches{/branch}","tags_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/tags","blobs_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/git/refs{/sha}","trees_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/git/trees{/sha}","statuses_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/statuses/{sha}","languages_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/languages","stargazers_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/stargazers","contributors_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/contributors","subscribers_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/subscribers","subscription_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/subscription","commits_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/commits{/sha}","git_commits_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/git/commits{/sha}","comments_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/comments{/number}","issue_comment_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/issues/comments{/number}","contents_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/contents/{+path}","compare_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/compare/{base}...{head}","merges_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/merges","archive_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/downloads","issues_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/issues{/number}","pulls_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/pulls{/number}","milestones_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/milestones{/number}","notifications_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/labels{/name}","releases_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/releases{/id}","deployments_url":"https://api.github.com/repos/gs2589/strong-params-basics-web-0416/deployments","created_at":"2016-05-02T17:52:39Z","updated_at":"2016-05-02T17:52:40Z","pushed_at":"2016-05-02T18:22:59Z","git_url":"git://github.com/gs2589/strong-params-basics-web-0416.git","ssh_url":"git@github.com:gs2589/strong-params-basics-web-0416.git","clone_url":"https://github.com/gs2589/strong-params-basics-web-0416.git","svn_url":"https://github.com/gs2589/strong-params-basics-web-0416","homepage":null,"size":29,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":false,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"}},"base":{"label":"learn-co-students:master","ref":"master","sha":"9ff43e5d04b3f412c7e3407b7b530371f3fea551","user":{"login":"learn-co-students","id":8825476,"avatar_url":"https://avatars.githubusercontent.com/u/8825476?v=3","gravatar_id":"","url":"https://api.github.com/users/learn-co-students","html_url":"https://github.com/learn-co-students","followers_url":"https://api.github.com/users/learn-co-students/followers","following_url":"https://api.github.com/users/learn-co-students/following{/other_user}"[...]
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:Fvk6dgiv@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/pulls/29/files
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4660'
      X-Ratelimit-Reset:
      - '1462217741'
      Etag:
      - W/"e25ad28371175e44569af9966623940a"
      Last-Modified:
      - Mon, 02 May 2016 18:23:02 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"e06a4ff29d35c38e51a5fb028c4ae3cd338ea614","filename":"app/controllers/posts_controller.rb","status":"modified","additions":10,"deletions":4,"changes":14,"blob_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e/app/controllers/posts_controller.rb","raw_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/raw/7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e/app/controllers/posts_controller.rb","contents_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e","patch":"@@
        -12,18 +12,24 @@ def new\n \tend\n \n \tdef create\n-\t  @post = Post.new(params[\"post\"])\n+\t  @post
        = Post.new(post_params(:title, :description))\n \t  @post.save\n \t  redirect_to
        post_path(@post)\n \tend\n \n \tdef update\n-\t  @post = Post.find(params[:id])\n-\t  @post.update(params[\"post\"])\n-\t  redirect_to
        post_path(@post)\n+\t\t@post = Post.find(params[:id])\n+\t\t@post.update(post_params(:title))\n+\t\tredirect_to
        post_path(@post)\n \tend[...]
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:Fvk6dgiv@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e&since
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4659'
      X-Ratelimit-Reset:
      - '1462217741'
      Etag:
      - W/"412f3d611d5bcc396bf70b3410913202"
      Last-Modified:
      - Mon, 02 May 2016 18:22:58 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"name":"posts_controller.rb","path":"app/controllers/posts_controller.rb","sha":"e06a4ff29d35c38e51a5fb028c4ae3cd338ea614","size":532,"url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e","html_url":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e/app/controllers/posts_controller.rb","git_url":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/git/blobs/e06a4ff29d35c38e51a5fb028c4ae3cd338ea614","download_url":"https://raw.githubusercontent.com/learn-co-students/strong-params-basics-web-0416/7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e/app/controllers/posts_controller.rb?token=AIlSrApCyA8KZAe1Y5_s8OCOrBdW8kVFks5XJ6Z9wA%3D%3D","type":"file","content":"Y2xhc3MgUG9zdHNDb250cm9sbGVyIDwgQXBwbGljYXRpb25Db250cm9sbGVy\nCglkZWYgaW5kZXgKCQlAcG9zdHMgPSBQb3N0LmFsbAoJZW5kCgoJZGVmIHNo\nb3cKCQlAcG9zdCA9IFBvc3QuZmluZChwYXJhbXNbOmlkXSkKCWVuZAoKCWRl\nZiBuZXcKCQlAcG9zdCA9IFBvc3QubmV3CgllbmQKCglkZWYgY3JlYXRlCgkg\nIEBwb3N0ID0gUG9zdC5uZXcocG9zdF9wYXJhbXMoOnRpdGxlLCA6ZGVzY3Jp\ncHRpb24pKQoJICBAcG9zdC5zYXZlCgkgIHJlZGlyZWN0X3RvIHBvc3RfcGF0\naChAcG9zdCkKCWVuZAoKCWRlZiB1cGRhdGUKCQlAcG9zdCA9IFBvc3QuZmlu\nZChwYXJhbXNbOmlkXSkKCQlAcG9zdC51cGRhdGUocG9zdF9wYXJhbXMoOnRp\ndGxlKSkKCQlyZWRpcmVjdF90byBwb3N0X3BhdGgoQHBvc3QpCgllbmQKCglk\nZWYgZWRpdAoJICBAcG9zdCA9IFBvc3QuZmluZChwYXJhbXNbOmlkXSkKCWVu\nZApwcml2YXRlIAoKZGVmIHBvc3RfcGFyYW1zKCphcmdzKQogIHBhcmFtcy5y\nZXF1aXJlKDpwb3N0KS5wZXJtaXQoKmFyZ3MpCmVuZAoKZW5kCg==\n","encoding":"base64","_links":{"self":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/app/controllers/posts_controller.rb?ref=7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e","git":"https://api.github.com/repos/learn-co-students/strong-params-basics-web-0416/git/blobs/e06a4ff29d35c38e51a5fb028c4ae3cd338ea614","html":"https://github.com/learn-co-students/strong-params-basics-web-0416/blob/7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e/app/controllers/posts_controller.rb"}}'
  recorded_at: Mon, 02 May 2016 19:10:57 GMT
- request:
    method: get
    uri: https://sophie.debenedetto%40gmail.com:Fvk6dgiv@api.github.com/repos/learn-co-students/strong-params-basics-web-0416/contents/config/application.rb?ref=7cc46e7c7d5c30e59461f307a9ca0e3aef8b518e&since
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 20[...]
[...]
