<h1>Search Results</h1>
<% if @students && !@students.empty? %>
  <% @students.each do |student| %>
    <%= link_to student.full_name, student_path(student) %>
  <% end %>
<% elsif @labs && !@labs.empty? %>
  <% @labs.each do |lab| %>
    <%= link_to lab.name, [lab.cohort, lab] %>
  <% end %>
<% else %>
  <p>No results matching your query. Please try a different search term.</p>
<% end %>

