// Place all the styles related to the labs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#filename-form-list {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  list-style: none;
}